.btn-primary{
    background-color: black !important;
    border:none !important;
}
.btn-primary:hover{
    background-color:#b6b9bd !important;
    color:black !important;
    border:none !important;
}
h1{
    font-size: 2rem !important;
}
h3{
    font-size: 1rem !important;
}
/*#comment-card{
    display: none;
}*/
#comment-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; /* Higher z-index to ensure it's above the background */
    
}